<div style="color: black;width: 50%;margin: 0 auto;text-align: center;background-color: #f4f4f4;padding: 50px">
  <img style="margin:0" src="https://i.ibb.co/dtDpxrb/It-Music.png" alt="It-Music" border="0" />
  <h1>Hola {{user}}</h1>
  <h2>Gracias por registrarte</h2>
  <h3>Activa tu cuenta</h3>
  <p>Es muy fácil, activaremos tu cuenta y luego te vamos a redirigir a <strong>It Music</strong> para que inicies sesión. Solo tienes que dar click en el siguiente enlace:</p>
  <a href="http://localhost:3333/api/v1/users/enable/{{id}}">Activar mi cuenta e ir a It Music</a>
  <hr style="margin-top: 70px;margin-bottom: 20px;border-top: 1px dashed #8c8b8b;border-bottom: 1px dashed #fff">
  <span>Att: Admin <a href="http://localhost:3333">It Music</a></span>
</div>
